* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.get-a-quota {
  max-height: 648px;
  width: 100%;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.get-a-quota__description {
  padding-left: 40px;
  padding-right: 40px;
}

.get-a-quota__description h5 {
  padding-top: 60px;
  font-family: 'LatoWebBlack', sans-serif;
  color: #f0d8d9;
  font-size: 23pt;
  letter-spacing: -0.45px;
}

.get-a-quota__description p {
  padding-top: 15px;
  font-family: 'LatoWebLight', sans-serif;
  color: #f0d8d9;
  font-size: 14pt;
  letter-spacing: -0.35px;
  line-height: 1.7;
}

.layout-2-column {
  padding: 42px 40px 73px 40px;
  display: inline-grid;
  grid-template-columns: 619px 300px;
  grid-column-gap: 20px;
}



.get-a-quota__form {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

form {
  margin-top: 1px;
  display: grid;
  grid-template-rows: 38px 38px 38px 200px;
  grid-row-gap: 16px;

}

input::-webkit-input-placeholder {
  color: #ec7e7e;
}


textarea::-webkit-input-placeholder {
  color: #ec7e7e;
}

form input {
  background-color: #d6564f;
  border: 1px solid #d6564f;
  border-radius: 5px;
  padding: 10px 13px;
  font-family: 'LatoWebSemibold', sans-serif;
  font-size: 9pt;
}

form textarea {
  background-color: #d6564f;
  border: 1px solid #d6564f;
  resize: none;
  border-radius: 5px;
  padding: 10px 13px;
  font-family: 'LatoWeb', sans-serif;
  font-size: 9pt;
}

.get-a-quota__content {}

.get-a-quota__content h5 {
  font-family: 'LatoWebBlack', sans-serif;
  color: #f0d8d9;
  font-size: 14pt;
  letter-spacing: -0.35px;
}

.get-a-quota__content>p {
  padding-top: 8px;
  font-family: 'LatoWebLight', sans-serif;
  font-size: 9pt;
  color: #f0d8d9;
  text-align: justify;
  /* letter-spacing: -0.35px; */
  line-height: 1.8;
}

.contact {
  padding-top: 27px;
}

.ico img{
  width: 10px;
  height: 10px;
  padding-right: 10px;
}

.contact p {
  font-family: 'LatoWebLight', sans-serif;
  font-size: 8pt;
  text-align: justify;
  letter-spacing: .35px;
}

.contact a {
  text-decoration: none;
  color: #fff;

}


footer {
  height: 76px;
  width: 100%;
  background-color: #2d303a;
}

.footer_content{
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-flex;
  justify-content: space-between;
}

.footer_content p{
  padding-top: 35px;
  float: left;
  font-size: 10px;
  color: #f0d8d9;
}

.social {
  display: inline-flex;
  float: right;
  justify-content: space-between;
}

.social__facebook img {
  margin-left: 0.4px;
  margin-right: 7.0px;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  border: 1.2px solid #666d89;
  padding: 8px 8px 8px 8px;

}

.social__google-plus img {
  margin-left: 0.4px;
  margin-right: 7.5px;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  border: 1.2px solid #666d89;
  padding: 6px;

}

.social__twitter img {
  margin-left: 0.4px;
  margin-right: 7.0px;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  border: 1.2px solid #666d89;
  padding: 6.6px;
}

.social__linkedIn img {
  margin-left: 0.4px;
  margin-right: 4.0px;
  width: 34px;
  height: 34px;
}


.social img:hover {
  cursor: pointer;
}